before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- -- version 0.23.2
  - export PATH="$HOME/.yarn/bin:$PATH"
language: node_js
node_js:
  - "10"
script:
  - yarn
  - yarn build
